@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Akaya Telivigala', cursive;

}

html, body{
    margin: 0;
}

.full-screen-container {
    background-image: url("background.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: hsla(201, 100%, 6%, 0.6);
    padding: 50px 30px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
}

.login-title {
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: normal;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-bottom: 7px;
}

.input-group input{
    font-size: 1.2rem;
    padding: .2rem, .3rem;
    background-color: hsla(201, 100%, 90%, 0.3);
    outline: none;
    border: 1px solid hsla(201, 100%, 6%,);
    border-radius: 5px;
    color: white;
    font-weight: lighter;
    cursor: pointer;
}

.input-group input:focus {
    border: 2px solid hsl(201, 100%, 50%);
}

.login-button {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    background-color: hsla(201, 100%, 50%, 0.1);
    border: 2px solid hsl(201, 100%, 50%);
    outline: none;
    font-size: 1.2rem;
    color: white;
    font-weight: lighter;
    margin-top: 20px;
    cursor: pointer;

}

.login-button:hover {
    background-color: hsla(201, 100%, 90%, 0.3);

}

.login-button:focus {
    background-color: hsla(201, 100%, 50%, 0.5);
}